#header {
    position: fixed;
    width: 100%;
    height: 130px;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    z-index: 999;
}
/* !navbar start */
.container {
    max-width: 1110px;
    padding-left: 0px;
    padding-right: 10px;
}
.nav-link {
    padding-bottom: 0px;
}
.navbar {
    padding-top: 0px;
}
#navContent {
    text-align: center;
}
.collapse {
    flex-direction: column;
    flex-flow: column-reverse;
    background: #ffffff;
}
.collapse form {
    align-self: flex-end;
}
.header__search {
    background-image: url(../images/ico_search.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 350px;
    height: 29px;
    margin-bottom: 42px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #324950;
    border-bottom: #324950 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.header__search:hover {
    border-bottom: #57984c 1px solid;
    transition: 0.5s;
}
input {
    background: transparent;
}
input::placeholder {
    opacity: 80%;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #324950;
}
.navbar-nav {
    align-self: flex-end;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: #57984c;
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "Roboto Slab";
    font-style: bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #324950;
}
body._lock {
    overflow: hidden;
}
.navbar-collapse,
.show,
.collapsing {
    margin-right: -15px;
    margin-top: 0px;
    background: #fff;
}
/* !navbar end */
@media (max-width: 500px) {
    .navbar-brand {
        width: 75%;
    }
}

